<footer id="footerarea" class="clearfix">
  <div class="widget-wrap">
    <div class="container">
      <div class="widget-area clearfix">
      </div><!-- .widget-area -->
    </div><!-- .container -->
  </div><!-- .widget-wrap -->
  
  <div id="site-generator">
    <div class="container">
      <div class="copyright">
	{{ with .Site.Params.copyright }}{{ . | markdownify}}{{ end }}
      </div><!-- .copyright -->
      <div class="footer-right"></div><div style="clear:both;">
      </div>
    </div><!-- .container -->
  </div><!-- #site-generator -->
  <div class="back-to-top">
    <a href="#branding"></a>
  </div>
</footer>
</div><!-- .wrapper -->

{{ partial "footer_js" . }}
